<!DOCTYPE html>
<html>
<head>
    <title>Protein API</title>
</head>
<body>
    <h1>Welcome to the Protein API</h1>
    <p>This API allows you to access information about proteins and their domains.</p>
    <h2>Endpoints:</h2>
    <ul>
        <li><a href="http://127.0.0.1:8000/api/protein/" target="_blank">POST http://127.0.0.1:8000/api/protein/</a> - add a new record</li>
        <li><a href="http://127.0.0.1:8000/api/protein/A0A016S8J7" target="_blank">GET  http://127.0.0.1:8000/api/protein/[PROTEIN ID]</a> - return the protein sequence and all we know about it</li>
        <li><a href="http://127.0.0.1:8000/api/pfam/PF00360" target="_blank">GET  http://127.0.0.1:8000/api/pfam/[PFAM ID]</a> - return the domain and it's description</li>
        <li><a href="http://127.0.0.1:8000/api/proteins/55661" target="_blank">GET  http://127.0.0.1:8000/api/proteins/[TAXA ID]</a> - return a list of all proteins for a given organism</li>
        <li><a href="http://127.0.0.1:8000/api/pfams/55661" target="_blank">GET  http://127.0.0.1:8000/api/pfams/[TAXA ID]</a> - return a list of all domains in all the proteins for a given organism</li>
        <li><a href="http://127.0.0.1:8000/api/coverage/" target="_blank">GET  http://127.0.0.1:8000/api/coverage/[PROTEIN ID]</a> - return the domain coverage for a given protein</li>
    </ul>
</body>
</html>
