<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Toy Gene data website">
    <meta name="keywords" content="HTML,gene,genes,advanced,web,development">
    <meta name="author" content="D.Buchan">
    <link rel="stylesheet" type="text/css" href="../static/css/genedata.css">
    <h1 id="application_title">Gene Browser</h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e0/202002_La
boratory_instrument_dna.svg" id="logo" alt="dna logo">
</head>

<body>