<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add book</title>
</head>

<body>
    <h1>Add a new book below</h1>
    <form method="POST" action="/addbook">
        <label for="name">Name:</label>
        <input id="first" type="text" name="name" />
        <label for="price">Price:</label>
        <input id="last" type="number" name="price" />

        <input type="submit" value="Add" />
    </form>
    <a href="/list">View all the books</a>
</body>

</html>