<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

</head>

<body>
    <!-- This will include the ejs nav partial -->
    <%- include('partials/nav') %>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>About Us</h1>
                        <p>
                            This is a simple web application that allows you to control your home.
                            You can control your lights, thermostat, and more.
                        </p>
                    </div>
                    <div class="col-md-12">
                        It's so simple to use, once you add your devices, you can control them from anywhere at anytime.
                        With just access to internet, you can control your home wherever you are and whenever you want.
                        Isn't that amazing?
                        <!-- cool emoji -->
                        🎉

                    </div>
                    <div>
                        This was developed using
                        <a href="https://ejs.co" target="_blank">EJS</a>
                        ,
                        <a href="https://expressjs.com" target="_blank">Express</a>
                        ,
                        <a href="https://nodejs.org" target="_blank">Node</a>
                        ,
                        <!-- mysql -->
                        <a href="https://www.mysql.com" target="_blank">MySQL</a>
                        and
                        <!-- bootstrap -->
                        <a href="https://getbootstrap.com" target="_blank">Bootstrap</a>
                        technologies with
                        <!-- love similey -->
                        💗
                        by
                        Olawale Micheal Juwon

                    </div>
                </div>
            </div>

        </main>

</body>

</html>