<!-- This is a Django template for creating a new protein record. -->
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
<head>
    <title>Add Protein</title>
</head>
<body>
    <header>
        <h1>Add Protein Record</h1>
    </header>

    <!-- This is a form for submitting a new protein record. -->
    <form action="/api/protein/" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Submit">
    </form>

    <footer>
        <!-- This is a link to go back to the homepage. -->
        <a href="/">Back to Homepage</a>
    </footer>
</body>
</html>
